# Eclipse / Aurix Studio 설정 무시
.ads/
.settings/
.project
.cproject
Configurations/
Libraries/
Lcf_Gnuc_Tricore_Tc.lsl
Lcf_Tasking_Tricore_Tc.lsl
Cpu0_Main.c

# 빌드 산출물 무시
Rel_Appl_freeRTOS_10_4_6/
*.elf
*.hex
*.map
*.bin
*.src
*.d
*.o

# 기타 무시
*.log
*.user
*.lst
*.bak